
 
 /*---outer answer button ---*/

 .chosen-answer{
  border-radius: 20px;
  background-image: linear-gradient(to bottom right, rgb(9, 103, 243), rgb(10, 177, 243));
  color: white;
 }
  
.answer-container{
  color: white;
}

/*---inner answer button ---*/

.answer, .answer:focus, .answer:disabled, .correct-answer{
  color: white;
  border-radius: 20px;
  min-width: 60vw;
  background-image: linear-gradient(to bottom right, rgb(25, 118, 155), rgb(18, 59, 92));
  border-radius: 20px;
}

.answer:focus{
  background-image: linear-gradient(to bottom right, rgb(11, 180, 236), rgb(173, 125, 250));
}

.answer:disabled{
  background-image: linear-gradient(to bottom right, rgb(121, 202, 230),rgb(191, 160, 240));
}

.correct-answer{
  background-image: linear-gradient(to bottom right, rgb(12, 94, 12), rgb(94, 241, 89));
}
  
@media (max-width: 502px) {
  .answer, .answer:focus, .answer:disabled, .correct-answer{
    width: 90vw;
  }
}
  
