.answer{
  display: flex;
  align-items: center;
  justify-content: center;
   
  border-radius: 20px;
  min-width: 50vw;
  max-width: auto;
  background-color: rgb(198, 241, 255);
  background-image: linear-gradient(to bottom right, rgb(198, 241, 255), rgb(167, 124, 241));
}

.answer:focus{
  display: flex;
  align-items: center;
  justify-content: center;
   
  border-radius: 20px;
  min-width: 50vw;
  max-width: auto;
  background-image: linear-gradient(to bottom right, rgb(11, 180, 236), rgb(173, 125, 250));
}

.correct-answer{
    display: flex;
    align-items: center;
    justify-content: center;
  
    border-radius: 20px;
    min-width: 50vw;
    max-width: auto;
    background-image: linear-gradient(to bottom right, rgb(29, 148, 29), rgb(196, 243, 194));
  }
  
  .false-answer{
    display: flex;
    align-items: center;
    justify-content: center;
  
    border-radius: 20px;
    min-width: 50vw;
    max-width: auto;
    background-color: red;
  }
  
  .answer-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  @media (max-width: 1024px) {
    .answer{
      min-width: 80vw;
    }
  
    .correct-answer{
      min-width: 80vw;
    }
  
    .false-answer{
      min-width: 80vw;
    }
  
    .answer-container{
      min-width: 80vw;
    }
  
    .answer:focus{
      min-width: 80vw;
    }
  
    .answer:active{
      min-width: 80vw;
    }
  }
  