.next-button{
    border-radius: 20px;
    min-width: 200px;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(41, 131, 161), rgb(4, 74, 77));
  }
  
  .next-button:active{
    border-radius: 20px;
    min-width: 200px;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(111, 213, 247), rgb(7, 72, 75));
  }

  .next-button:focus{
    border-radius: 20px;
    min-width: 200px;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(166, 220, 238), rgb(7, 72, 75));
  }

  @media (max-width: 1024px) {
    .next-button{
      max-width: 80vw;
    }

    .next-button:active{
      max-width: 80vw;
    }

    .next-button:focus{
      max-width: 80vw;
    }
  }