.question-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 1px;
}

.question{
  border-style: solid;
  border-radius: 20px;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem rgb(204, 198, 198),
            0 0 2rem #ccc9ce,
            0 0 0.8rem #989799,
            0 0 2.8rem #706e70,
            inset 0 0 1.3rem #504f50; 
  min-width: 60vw;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: linear-gradient(to bottom right, rgba(131, 211, 243, 0.5), rgb(73, 111, 192, 0.5));
  /*animation: pulsate 1.5s infinite alternate;  */
}

@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(152, 151, 153),
      0 0 80px #918f92,
      0 0 90px #a8a7a8,
      0 0 100px #9f9da0,
      0 0 150px #908e91;
  
  }
  
  0% {

    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #b5b4b6,
    0 0 45px #9f9da0,
    0 0 55px #a6a5a7,
    0 0 70px #adacad,
    0 0 80px #adadad;

}}

