@import url('https://fonts.googleapis.com/css?family=Hurricane');

.end-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.quiz-finished {
  font-size: calc(4vmin);
  border-radius: 20px;
  min-width: 200px;
  max-width: auto;
  background-color: rgb(172, 121, 54);
}

.end-image {
  font-size: calc(20vmin);
  border-radius: 20px;
  border: 2mm solid white;
  min-width: 200px;
  max-width: auto;
  font-family: 'Hurricane';

}