.small-button {
  border-radius: 20px;
  background-image: linear-gradient(to bottom right, rgb(41, 131, 161), rgb(4, 74, 77));
  min-width: auto;
  color: white;
  margin: 4px;
  min-width: 5vw;
}

.small-button:active {
  border-radius: 20px;
  background-image: linear-gradient(to bottom right, rgb(111, 213, 247), rgb(7, 72, 75));
  min-width: auto;
  color: white;
  margin: 4px;
  min-width: 5vw;
}

.small-button:disabled {
  border-radius: 20px;
  background-image: linear-gradient(to bottom right, rgb(165, 162, 162), rgb(138, 138, 138));
  min-width: auto;
  color: gray;
  margin: 4px;
  min-width: 5vw;

}

@media (max-width: 720px) {
  .small-button {
    min-width: 30vw;
  }

  .small-button:active {
    min-width: 30vw;
  }

  .small-button:disabled {
    min-width: 30vw;
  }

}