.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1vmin);
  color: white;
}

.App-header {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-footer {
  position: fixed;
  bottom: 0.5%;
  right: 99.5%;
}

h1 {
  /*animation: pulsate 1.5s infinite alternate;*/
  font-size: 0.2%;
  background-image: linear-gradient(to bottom right, rgba(75, 107, 119, 0.5), rgba(44, 71, 128, 0.5));  
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #cbc9cc,
            0 0 0.8rem #b2b1b3,
            0 0 2.8rem #8e8d8f,
            inset 0 0 1.3rem #818181; 
}

@media (max-height:1024px){
  h1 {
    display: none;
  }
}

h5 {
  background-color: black;
  padding: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
}

a{
  border-radius: 20px;
  min-width: auto;
  max-width: auto;
  background-color: black;
  color : red;
}

.grain-active:before {
  animation: grain 5s steps(10) infinite;
  background-image: url(https://i.imgur.com/QpnTsrV.jpg);
  content: "";
  height: 300%;
  left: -50%;
  opacity:.2;
  position: fixed;
  top: -110%;
  width: 300%;
  pointer-events:none;
}

.grayscale-active {
  filter: white;
  -webkit-filter: sepia(1);
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

.popup{
  display: flex;
  font-size: calc(12px + 1vmin);
  text-align: center;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  position: fixed;
  bottom: 1%;
  left: 0%;
  width: 100%;
  color: white;
 }

.cancel-button, .cancel-button:hover{
  position: relative;
  color: white;
  background-color: black;
  right: 0%;
  bottom: 5%;
}

.cancel-button:hover{
  color: silver;
}

.info-button{
  color: white;
}

.info-button:hover{
  color: silver;
}

.panel{
  color: white;
  background-color: black;
  border-radius: 20px;
}


