.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.answer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  border-radius: 20px;
  min-width: 200px;
  max-width: auto;
  background-color: lightblue;
}

.answer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}

h1{
  border-radius: 20px;
  background-color: black;
  min-width: auto;
  max-width: auto;
}

.question{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  font-size: calc(20px + 2vmin);
  border-radius: 20px;
  background-color: black;
}

.start-button{
  border-radius: 20px;
  background-color: black;
  min-width: auto;
  color : white
}

.next-button{
  border-radius: 20px;
  background-color: black;
  min-width: 200px;
  color : white
}
