.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}


.App-header {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-content{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}


.App-footer {
  text-align: center;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 0%;
  margin-left: -70px;
}


h1{
  border-radius: 20px;
  min-width: auto;
  max-width: auto;
  background-color: black;
}


.grain-active:before {
  animation: grain 5s steps(10) infinite;
  background-image: url(https://i.imgur.com/QpnTsrV.jpg);
  content: "";
  height: 300%;
  left: -50%;
  opacity:.2;
  position: fixed;
  top: -110%;
  width: 300%;
  pointer-events:none;
}

.grayscale-active {
  filter: white;
  -webkit-filter: sepia(1);
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

.popup{
  display: flex;
  text-align: center;
  flex-direction: row;
  margin-top: 70vh;
  margin-left: 10vw;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  min-width: 80vw;
  color: white;
 }

.cancel-button{
  color: white;
  background-color: black;
}

.cancel-button:hover{
  color: silver;
}


.info-button{
  color: white;
}

.info-button:hover{
  color: silver;
}










